<?php echo $this->Form->create('${1:model}', array('action' => '${2:create}', 'class' => 'form form-horizontal', 'method' => '${3:POST'}, 'inputDefaults' => array('div' => false, 'label' => false)) ?>

	<div class='form-group'>
		<div class='col-lg-offset-4 col-lg-8'>
			<?php echo $this->Form->submit('${4:Cadastrar}', array('class' => 'btn btn-success')); ?>
		</div>
	</div>

<?php echo $this->Form->end() ?>
