<?php
App::uses('AppModel', 'Model');

class ${1:name} extends AppModel {

	/* Default configurations */
	public $useTable = '${2:table}';

	public $actsAs = array(
	);

	public $order = array('$1.${3:name}' => '${4:ASC}');

	public $virtualFields = array(
	);

	/* Validators */
	public $validate = array(
	);

	/* Relationships */
	public $belongsTo = array(
	);

	public $hasOne = array(
	);

	public $hasMany = array(
	);

	public $hasAndBelongsToMany = array(
	);

	/* Custom queries */

}
